{% extends "base.html" %}

{% block body %}
<div class="container">
  <div class="row">
    <div class="col">
      <form method="post">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">{{ _("Oops!") }}</h5>
            <p class="card-text">
                {{ _("It looks like you've run into an error.") }}
            </p>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<script type="text/javascript">
</script>
{% endblock %}